*{
    margin: 0;
    padding: 0;
}
.App{
    padding: 4rem;
}
.cards_container{
    display: grid;
    grid-template-columns: repeat(4, 320px);
}
.search-box{
    outline: none;
    border: 1px thick grey;
    padding: .4rem 1rem;
    font-size: 1rem;
    border-radius: .5rem;
    width: 30%;
}